<div class='col_fade'>
  <p>FlutterCN 社区致力于成为专业的 Flutter 中文技术社区，专注 Flutter 学习交流和经验分享。</p>
  <p>关于 · 指南 · 反馈</p>
  <p>© 2019 FlutterCN 湘ICP备18019171号</p>
  <!-- <p>服务器搭建在
    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"
      class="sponsor_outlink" data-label="digitalocean">
      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"
      alt="digitalocean" width="92px"/>
    </a>
  ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/qiniu.png') %>" title="七牛云存储"
      alt="七牛云存储" width="115px"/>
    </a>
  </p> -->
  <!-- <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p> -->
</div>
