<tr>
  <td><b><%= indexInCollection+1 %></b></td>
  <td style="display: flex">
    <a class='user_avatar' href="/user/<%= user.loginname %>">
      <img src="<%= proxy(user.avatar_url) %>" title="<%= user.loginname %>"/>
    </a>
    <span class='sp10'></span>
    <a href='/user/<%= user.loginname %>'>
      <% if (user.name) { %> 
        <b style="display: block;"><%= user.name %></b>
        <i style="display: block"><%= user.loginname %></i>
      <% } else { %>
        <b style="display: block;"><%= user.loginname %></b>
      <% } %>
    </a>
  </td>
  <td><%= user.score %></td>
  <td><%= user.topic_count %></td>
  <td><%= user.reply_count %></td>
</tr>
