<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
FlutterCN 致力于成为专业的 Flutter 中文技术社区，专注 Flutter 技术相关的学习交流和经验分享。

FlutterCN 由一批热爱使用 Flutter 的工程师发起，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 Flutter 感兴趣的朋友。

社区目前由 [@seymoe](https://fluttercn.net/user/seymoe) 在维护，有问题请联系：[https://github.com/seymoe](https://github.com/seymoe)

### 移动客户端

既然是 Flutter 技术社区，移动端必然会通过 Flutter 构建。

目前未提上日程，如果有兴趣的朋友可以联系 [@seymoe](https://fluttercn.net/user/seymoe) 一起讨论。

### 时间轴

+ 2019.6.19 FlutterCN（https://fluttercn.net）上线。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
