<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>Flutter 新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## Flutter 新手指引

### Dart

+ Dart 编程语言中文网 -[dart.goodev.org/](http://dart.goodev.org/)
+ cndartlang.com的Dart学习笔记 - [http://www.cndartlang.com/dart](http://www.cndartlang.com/dart)
+ 极客学院Dart教程汇总 - [http://wiki.jikexueyuan.com/list/dart/](http://wiki.jikexueyuan.com/list/dart/)
+ 为 Java 开发人员准备的 Dart 教程（Flutter官方） - [https://codelabs.flutter-io.cn/codelabs/from-java-to-dart-cn/index.html#0](https://codelabs.flutter-io.cn/codelabs/from-java-to-dart-cn/index.html#0) 

### Flutter

+ flutter中文网 - [https://flutterchina.club/](https://flutterchina.club/)
+ flutter实战（开源图书） - [https://book.flutterchina.club/](https://book.flutterchina.club/)
+ Flutter基础视频教程 - [https://www.bilibili.com/video/av35800108?from=search&seid=16738387368219153988](https://www.bilibili.com/video/av35800108?from=search&seid=16738387368219153988)
+ 使用 Flutter 快速构建美观又高性能的移动应用 - [https://www.bilibili.com/video/av27857568/](https://www.bilibili.com/video/av27857568/)
+ 编写你的第一个 Flutter App [1/2]（Flutter官方） - [https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt1-cn/index.html#0](https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt1-cn/index.html#0)
+ 编写你的第一个 Flutter App [2/2]（Flutter官方） - [https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt2-cn/index.html#0](https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt2-cn/index.html#0)

*/
        })) %>
      </div>
    </div>
  </div>
</div>
