<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>社区指南</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
## 社区指南

FlutterCN 致力于成为一个专业的Flutter中文技术社区。为保证让大家享有愉悦的交流氛围，保证社区产出内容的质量，我们创建了一套《社区指南》。本指南将会帮助您了解 FlutterCN（下文均称“本社区”）主要的板块，并且了解能够在分享什么类型的内容，哪些内容可能被标记、移除，用户哪些行为会导致其被限制发布。

### 社区版块

+ **分享**

分享版块主要分享技术型或者其他类型的文章，需要有足够的内容长度，并保证专业性、正确性和表述合理性，给人足够的信息量。

+ **问答**

问答版块顾名思义，提问的地方，希望大家能够乐于助人、互帮互助。

+ **项目**

项目版块主要为分享开源项目、个人项目或是创意灵感，但请注意和广告的区分，禁止恶意广告和宣传。

+ **招聘**

招聘版块主要分享个人求职、公司招聘、外包或接单信息，发布帖子时请带上相应的前缀，例如：【招聘】、【求职】、【外包】、【接单】，请不要发布虚假信息，内容的真实性也请注意自己甄别，如果发现虚假信息，请举报。

---

接下来是一些本社区希望和不希望的点：

### 我们希望

1. **积极分享、积极讨论**

欢迎大家就想法、知识和经验进行分享讨论，将知识传播到更远的地方，辐射更多初学 Flutter 或想要学习的人群。

2. **具有建设性**

共同维护本社区的和睦友好发展，保持礼貌态度。积极为社区的发展提供可行性建议反馈，推动社区和社员的共同进步。

3. **确保内容的相关性**

本社区为 Flutter 相关的专业技术社区，所以请尽量保证内容的专业性和技术相关性，当然，这里的技术相关性包括 Flutter、Dart、Android、iOS、Java、Swift 等等。

4. **绑定 Github**

建议每一位技术人员都应该有自己的 Github 账号。

### 我们不希望

1. **肆意破坏社区风气，发布垃圾内容或非法信息**

2. **发布恶意对社区用户毫无益处的广告**

最后，请大家能够积极监督，共同遵守规则，共建美好社区。
*/
        })) %>
      </div>
    </div>
  </div>
</div>
